<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <%= render @posts %>
</div>

<button type="button" class="inline-block px-4 py-2 bg-cyan-100 rounded-md shadow">
  <%= link_to "New post", new_post_path %>
</button>
